///
/// This is a container to vertically centralize the label of your checkbox or radio button.
/// 
/// @group Components
/// @class radioWrapper
/// @class checkWrapper
/// 
/// @example
/// ```
/// <div class="checkWrapper">
///   <input class="check" id="saveNSec" type="checkbox" />
///   <label for="saveNSec">Save your nsec encrypted in this browser?</label>
/// </div>
/// ```
///
div.radiobutton,
div.checkbox {
  display: flex;
  align-items: flex-end;
  margin-top: 1.5rem;
  margin-bottom: 1.75rem;

  > [type=radio],
  > [type=checkbox] {
    cursor: pointer;
    display: inline-block;
    transition: 1s box-shadow;
    border: 2px solid var(--lowContrast);
    width: 22px;
    height: 22px;
    margin: 0 12px;

    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 75%;
    appearance: none;

    &:before {
      content: '';
      width: 19px;
      height: 19px;
      display: block;
      border-radius: 50%;
    }

    &:hover:before {
      box-shadow: 0 0 0 10px var(--baseHover);
    }

    &:active:before {
      box-shadow: 0 0 0 10px var(--baseActive);
    }

    &[type=radio] {
      border-radius: 50%;
    }

    &[type=checkbox] {
      border-radius: 5px;
    }

    &:checked {
      border: 2px solid var(--primary);
      background-color: var(--primary);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24"><path d="M9.64 18.952l-5.55-4.861 1.317-1.504 3.951 3.459 8.459-10.948L19.4 6.32 9.64 18.952z"></path></svg>');

      &:hover:before {
        box-shadow: 0 0 0 10px var(--imgButtonPrimaryHover);
      }

      &:active:before {
        box-shadow: 0 0 0 10px var(--imgButtonPrimaryActive);
      }
    }
  }
}
