///
/// clickable svg
///
/// @group Components
/// @class button.svgButton
///
/// @example
/// ```
/// <button title="upload image" type="button" class="svgButton">
///   <nostr-svg-render name="upload-image"></nostr-svg-render>
/// </button>
/// ```
///
label[role=button].svgButton,
button.svgButton {
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--primaryText);
  transition: background-color .3s;
  -webkit-tap-highlight-color: transparent;

  &:not(.borderless) {
    border: 1px solid var(--separator);
  }
  
  > input[type="checkbox"],
  > input[type="radio"] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  nostr-svg-render {
    transition: background-color .3s;
    display: flex;
    padding: .5rem;
    border-radius: 50%;
    margin: 0 auto;
    width: auto;
    height: auto;

    svg {
      transition: background-color .3s;
      border: 0;
      width: 17.2px;
      min-height: 17px;
      color: var(--lowContrast);
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  &.svgButtonHoverImage {
    background-color: rgba(15, 20, 25, .75);
    max-height: 42px;
    max-width: 42px;
    height: 42px;
    width: 42px;

    nostr-svg-render {
      background-color: transparent;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 0;

      svg {
        color: white;
      }
    }
  }

  &:disabled {
    > svg,
    > nostr-svg-render {
      opacity: .5;
      cursor: default;
    }
  }

  &:not([disabled]) {

    &:hover,
    &:active,
    &:has(> input:checked),
    &.active {
      &:not(.borderless) {
        border: 1px solid var(--primary); 
      }

      svg {
        color: var(--imgButtonDefault) !important;
      }
      
      &.svgButtonHoverImage {
        svg {
          color: white !important;
        }
      }
    }

    &:hover {
      background-color: var(--imgButtonDefaultHover);

      &.svgButtonHoverImage {
        background-color: rgba(39, 44, 48, .75);
      }
    }

    &:has(> input:checked),
    &:active,
    &.active {
      background-color: var(--imgButtonDefaultActive);

      &.svgButtonHoverImage {
        background-color: rgba(63, 67, 71, .75);
      }
    }
  }
}

