///
/// shows unauthenticated account for authentication
///
/// @group Components
/// @class .unauthenticatedAccount
/// 
/// @example
/// ```
/// <section class="unauthenticatedAccount">
///   <img title="profile picture" alt="profile picture" class="profile" src="/assets/profile/default-profile.png" />
///   <div class="userInfo">
///     <span class="userName">
///       António Vicente Mendes Maciel
///       <span class="userVerified"></span>
///     </span>
///     <span class="userNip5">@anarcanudos</span>
///   </div>
/// </section>
/// ```

.unauthenticatedAccount {
  display: flex;
  border: 1px solid var(--separator);
  padding: .5rem;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 1rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
  }

  .userInfo {
    display: flex;
    flex-direction: column;
  }

  .spaceBetween {
    flex: 1 1 0;
  }

  .svgButton {
    margin-right: 1rem;
  }
}