///
/// container with user name, nip5 and if nip5 is valid
///
/// @group Components
/// @class .userInfo
///
/// @example
/// ```
///  <div class="userInfo">
///    <span class="userName">
///      António Vicente Mendes Maciel
///      <span class="userVerified"></span>
///    </span>
///    <span class="userNip5">@anarcanudos</span>
///  </div>
/// ```
///
.userInfo {
  .userName {
    color: var(--contrast);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    .userVerified {
      display: inline-block;
      position: relative;
      top: 3px;
    }
  }
  
  .userNip5 {
    color: var(--lowContrast);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
