///
/// This is the primary button. Customize it size, padding and margin.
///
/// @group Components
/// @class button
///
/// @example
/// ```
/// <button class="button">Click me</button>
/// ```
///
/// @example
/// ```
/// <button class="secondary button">Click me</button>
/// ```
///
button.button {
  border-radius: 50px;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--primaryText);
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-size: 19px;

  &:hover,
  &:active {
    background-color: var(--primaryHover);
  }

  svg {
    color: var(--primaryText);
  }

  &.secondary {
    background-color: var(--base);
    border: 1px solid var(--lowestContrast);
    color: var(--contrast);

    &:hover,
    &:active {
      background-color: var(--baseHover);
    }

    svg {
      color: var(--lowestContrast);
    }
  }

  &.iconedButton {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-right: 1rem;
  }
}

///
/// Group of buttons, side by side
///
/// @group Components
/// @class buttonGroup
///
/// @example
/// ```
/// <div class="buttonGroup">
///   <button class="secondary button">Click me</button>
///   <button class="button">Click me</button>
/// </div>
/// ```
///
.buttonGroup {
  display: flex;

  > button,
  > nostr-svg-render,
  > svg {
    float: left;
    margin: 0 1rem 1rem 0;

    &:nth-last-child(1 of .secondary) {
      margin-right: auto;
    }

    &:not(.secondary):first-child {
      margin-left: auto;
    }

    &:not(.secondary):last-child {
      margin-right: 0;
    }
  }
}