///
/// This is the primary button. Customize it size, padding and margin.
///
/// @group Components
/// @class button
///
/// @example
/// ```
/// <button class="button">Click me</button>
/// ```
///
/// @example
/// ```
/// <button class="secondary button">Click me</button>
/// ```
///
label[role=button].button,
button.button {
  border-radius: 50px;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--primaryText);
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-size: 19px;
  -webkit-tap-highlight-color: transparent;

  &:not(borderless) {
    border: 1px solid var(--separator);
  }

  &:focus {
    outline: none;
  }
  
  &:hover,
  &:active,
  &.active {
    outline: none;
    background-color: var(--primaryHover);
  }

  > input[type="checkbox"],
  > input[type="radio"] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  svg {
    border: 0;
    color: var(--primaryText);
  }

  &.secondary {
    background-color: var(--base);
    border: 1px solid var(--lowestContrast);
    color: var(--contrast);

    &:hover,
    &:active,
    &.active {
      background-color: var(--baseHover);
    }

    svg {
      color: var(--lowestContrast);
    }
  }

  &.iconedButton {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    
    &:has( > span) {
      padding-right: 1rem;
    }
  }

  nostr-loading {
    max-width: 22px;
    max-height: 22px;
  }

  nostr-loading ~ span,
  .inlineIcon ~ span {
    margin-left: .5rem;
  }
}
