div.checkbox,
div.radio {
  input {
    width: 0px;
    height: 0px;

    ~ label {
      &:before {
        content: '';
        display: inline-block;
        border: 2px solid var(--lowContrast);
        width: 22px;
        height: 22px;
        cursor: pointer;

        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24"><path d="M9.64 18.952l-5.55-4.861 1.317-1.504 3.951 3.459 8.459-10.948L19.4 6.32 9.64 18.952z"></path></svg>');
        background-repeat: no-repeat;
        background-position: 2px;
        background-size: 75%;
      }

      &:hover,
      &:active {
        transition-duration: .2s;
        transition-property: box-shadow;
      }

      &:hover:before {
        box-shadow: 0 0 0 10px var(--baseHover);
      }

      &:active:before {
        box-shadow: 0 0 0 10px var(--baseActive);
      }
    }

    &[type=radio] ~label:before {
      border-radius: 50%;
    }

    &[type=checkbox] ~label:before {
      border-radius: 5px;
    }

    &:checked ~label {
      &:before {
        border: 2px solid var(--primary);
        background-color: var(--primary);
      }

      &:hover:before {
        box-shadow: 0 0 0 10px var(--imgButtonPrimaryHover);
      }

      &:active:before {
        box-shadow: 0 0 0 10px var(--imgButtonPrimaryActive);
      }
    }
  }
}