<h1>Belomonte Workspace Homolog</h1>

<form>
  <fieldset>Relay Write</fieldset>

  <div>
    <label>Nostr Secret</label>
    <input type="text" />
    <button type="button">generate</button>
  </div>

  <div>
    <label>Event</label>
    <textarea></textarea>
  </div>

  <div>
    <button type="text">Metadata (0)</button>
    <button type="text">Text (1)</button>
    <button type="text">User Statuses (30315)</button>
  </div>

  <button type="text">Sign</button>
  <button type="text">Send</button>
</form>

<form>
  <fieldset>Relay Read</fieldset>

  <div>
    <label>Filter</label>
    <textarea>

    </textarea>
  </div>

  <div>
    <button type="text">Metadata (0)</button>
    <button type="text">Text (1)</button>
    <button type="text">User Statuses (30315)</button>
  </div>
</form>


Delete (5)
Repost (6)
Reaction (7)