<form [formGroup]="formEventPublish">
  <fieldset>
    <legend>Write on Pool</legend>
    <div>
      <label>Nostr Secret</label>
      <input #nsec name="nsec" formControlName="nsec" [type]="nostrSecretHide ? 'password' : 'text'" />
      <button (click)="nostrSecretHide = !nostrSecretHide" *ngIf="!nostrSecretHide" type="button">hide</button>
      <button (click)="nostrSecretHide = !nostrSecretHide" *ngIf="nostrSecretHide" type="button">show</button>
      <button (click)="generateNostrSecret()" type="button">generate</button>
    </div>

    <div>
      <label>Pubkey</label>
      <input type="text" formControlName="pubkey" name="pubkey" readonly  />
    </div>
  
    <div>
      <label>Event</label>
      <textarea formControlName="event" name="event" #eventJson></textarea>
    </div>
  
    <div>
      <button (click)="eventJson.value = formatToString(templateMetadata)" type="button">Metadata (0)</button>
      <button (click)="eventJson.value = formatToString(templateText)" type="button">Text (1)</button>
      <button (click)="eventJson.value = formatToString(templateUserStatuses)" type="button">User Statuses (30315)</button>
    </div>
  
    <div>
      <button (click)="sign()" type="button">Sign</button>
      <button (click)="publish()" type="button">Send</button>
    </div>
  </fieldset>
</form>

<form [formGroup]="formRelayFilter">
  <fieldset>
    <legend>Read from Pool</legend>
    <div>
      <label>Filter</label>
      <textarea name="filter" formControlName="filter"></textarea>
    </div>
  
    <div>
      <button (click)="request()" type="button">Request</button>
      <button *ngIf="!listening" (click)="listen()" type="button">Listen</button>
      <button *ngIf="listening" (click)="listening.unsubscribe(); listening = null" type="button">Stop Listen</button>
    </div>
  </fieldset>
</form>

<table *ngIf="listedEvents.length">
  <thead>
    <tr>
      <th>kind</th>
      <th>author</th>
      <th>content</th>
      <th>created_at</th>
      <th>actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of listedEvents">
      <td>{{event.kind}}</td>
      <td>{{event.pubkey}}</td>
      <td>{{event.content}}</td>
      <td>{{event.created_at}}</td>
      <td>
        <button (click)="view(event)">view</button>
        <button (click)="react(event)">react</button>
        <button (click)="repost(event)">repost</button>
        <button (click)="delete(event)">delete</button>
      </td>
    </tr>
  </tbody>
</table>