//  FIXME: a biblioteca não deve exportar scss sem classes, diretamente nos elementos
//  FIXME: o botão para remover relay usa apenas essas implementações, portanto deve ter uma classe independente
button {
  border: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  nostr-loading {
    max-width: 22px;
    max-height: 22px;
  }

  nostr-loading ~ span,
  .inlineIcon ~ span {
    margin-left: .5rem;
  }
}
