// FIXME: a biblioteca não deve exportar scss sem classes, diretamente nos elementos
button {
  border: 0;
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  nostr-loading {
    max-width: 22px;
    max-height: 22px;
  }

  nostr-loading ~ span,
  .inline-icon ~ span {
    margin-left: .5rem;
  }
}
