<form>
  <fieldset>
    <legend>
      Create new pool
    </legend>
  
    <div>
      <label>Pool name</label>
      <input type="text" name="name" formControlName="name" />
    </div>
  
    <div>
      <label>Pool type</label>
      <select name="poolType" formControlName="poolType" #poolType>
        <option value="simple">Simple</option>
        <option value="smart">Smart</option>
        <option value="extended">Extended</option>
        <option value="derivated">Derivated</option>
      </select>
    </div>
  
    <div *ngIf="poolType.value === 'extended' || poolType.value === 'derivated'">
      <label *ngIf="poolType.value === 'extended'">Extend from</label>
      <label *ngIf="poolType.value === 'derivated'">Derivate from</label>
  
      <select name="poolList" formControlName="poolList">
        <option *ngFor="let poolConfig of pools" value="poolConfig.name">{{poolConfig.name}}</option>
      </select>
    </div>
  </fieldset>
</form>

<table>
  <thead>
    <tr>
      <th *ngFor="let pool of pools">{{pool.name}} ({{pool.type}})</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let pool of pools">
        
        <table>
          <thead>
            <tr>
              <th>Relay</th>
              <th>Conn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relay of pool.status">
              <td>{{relay.relay}}</td>
              <td>{{relay.connected ? 'yes' : 'no'}}</td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>