<form>
  <legend>
    Create new pool
  </legend>

  <div>
    <label>Pool name</label>
    <input type="text" name="name" formControlName="name" />
  </div>

  <div>
    <label>Relay</label>
    <input type="text" name="initialRelay" formControlName="initialRelay" />
  </div>

  <div>
    <label>Pool type</label>
    <select name="poolType" formControlName="poolType" #poolType>
      <option value="simple">Simple</option>
      <option value="smart">Smart</option>
      <option value="extended">Extended</option>
      <option value="derivated">Derivated</option>
    </select>
  </div>

  <div *ngIf="poolType.value === 'extended' || poolType.value === 'derivated'">
    <label *ngIf="poolType.value === 'extended'">Extend from</label>
    <label *ngIf="poolType.value === 'derivated'">Derivate from</label>

    <select name="poolList" formControlName="poolList">
    </select>
  </div>
</form>