.colorBase {
  color: var(--base);
}

.colorLowBase {
  color: var(--lowBase);
}

.colorHighContrast {
  color: var(--highContrast);
}

.colorContrast {
  color: var(--contrast);
}

.colorLowContrast {
  color: var(--lowContrast);
}

.colorLowestContrast {
  color: var(--lowestContrast);
}

.colorBaseHover {
  color: var(--baseHover);
}

.colorBaseActive {
  color: var(--baseActive);
}

.colorSeparator {
  color: var(--separator);
}

.colorHeaderColor {
  color: var(--headerColor);
}

.colorPrimary {
  color: var(--primary);
}

.colorPrimaryHover {
  color: var(--primaryHover);
}

.colorPrimaryActive {
  color: var(--primaryActive);
}

.colorPrimaryClear {
  color: var(--primaryClear);
}

.colorPrimaryText {
  color: var(--primaryText);
}

.colorImgButtonPrimary {
  color: var(--imgButtonPrimary);
}

.colorImgButtonPrimaryHover {
  color: var(--imgButtonPrimaryHover);
}

.colorImgButtonPrimaryActive {
  color: var(--imgButtonPrimaryActive);
}

.bgBase {
  background-color: var(--base);
}

.bgLowBase {
  background-color: var(--lowBase);
}

.bgHighContrast {
  background-color: var(--highContrast);
}

.bgContrast {
  background-color: var(--contrast);
}

.bgLowContrast {
  background-color: var(--lowContrast);
}

.bgLowestContrast {
  background-color: var(--lowestContrast);
}

.bgBaseHover {
  background-color: var(--baseHover);
}

.bgBaseActive {
  background-color: var(--baseActive);
}

.bgSeparator {
  background-color: var(--separator);
}

.bgHeaderColor {
  background-color: var(--headerColor);
}

.bgPrimary {
  background-color: var(--primary);
}

.bgPrimaryHover {
  background-color: var(--primaryHover);
}

.bgPrimaryActive {
  background-color: var(--primaryActive);
}

.bgPrimaryClear {
  background-color: var(--primaryClear);
}

.bgPrimaryText {
  background-color: var(--primaryText);
}

.bgImgButtonPrimary {
  background-color: var(--imgButtonPrimary);
}

.bgImgButtonPrimaryHover {
  background-color: var(--imgButtonPrimaryHover);
}

.bgImgButtonPrimaryActive {
  background-color: var(--imgButtonPrimaryActive);
}
