///
/// When header get a back button
///
/// @group Components
/// @class header-backable
///
/// @example
/// ```
/// <header class="header-backable">
///   <div>
///     <button title="back" type="button" class="svgButton">
///       <nostr-svg-render name="back"></nostr-svg-render>
///     </button>
///   </div>
///   <div>
///     ...
///   </div>
/// </header>
/// ```
///
.header-backable {
  display: flex;

  > div:first-child {
    flex: 0 0 0;
    margin: 0 10px;
  }

  > div {
    flex: 1 1 0;
  }
}
