///
/// show that nip5 is valid
///
/// @group Components
/// @class .userVerified
///
/// @example
/// ```
///  <div class="userInfo">
///    <span class="userName">
///      {{profile.display_name || profile.name}}
///      <span *ngIf="profile.nip05valid" class="userVerified"></span>
///    </span>
///    <span *ngIf="profile.nip05" class="userNip5">{{profile.nip05}}</span>
///  </div>
/// ```
///
.userVerified {
  mask-image: url('/assets/profile/verified.svg');
  height: 17px;
  width: 17px;
  min-height: 17px;
  min-width: 17px;
  background-color: var(--imgButtonDefault);
}